:root{
  --menuWidth: 150px;
  --headerHeight: 70px;
}

*{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 500;
}
.container{
  padding-right: var(--menuWidth);
  left:0;
  width: 100%;
}
.left{
  height: 100%;
  position: fixed;
  left:0;
  width: var(--menuWidth); 
}
.content{
  width: 100%;
  position: relative;
  display: flex;
}
.header{
  position: fixed;
  border-bottom: black ;
  display: flex;
  padding-top: 15px;
  width: 70%;
  justify-content: space-evenly;

}

.header_list{
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.flex1{
  flex: 3 ;
 }
 .flex2{
   flex: 1 ;
 }
.header_item{
  width: 5px;
  flex-wrap: wrap;
  border-color: rgb(255, 0, 43);
}

.header_item a,button a{
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
/* menu */
button{
  display: inline;
  margin: 0 auto;
}



.body{
  padding-top: var(--headerHeight);
}



/* 
.flexcore{
  position: fixed;
}

.nav {
  color: black;
  position: absolute;
  top:5px;
  left: 5px;
}
.mid {
  position: absolute;
  top:5px;
  left: 85%;
}
.right{
  position: absolute;
  top:5px;
  right: 5px;
  left: 95%;
}

.nav  ul ,.nav input[type="checkbox"]{
  display: none;
  position: absolute;
  z-index: 1000;
}
.nav input:checked ~ ul{
  display:  inline-flex;
}
.contact-list{
  margin-top: 20px;
  width: 300px;
}
.contact-list li{
  margin: 5px 10px;
  list-style: none;
}
.bar{
  width: 30px;
  height: 30px;
  display: inline;
  z-index: -10;
}
a{
  color: black;
  text-decoration: none;
} */
