*{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}
.flexcore{
  position: fixed;
}

.nav {
  color: black;
  position: absolute;
  top:5px;
  left: 5px;
}
.mid {
  position: absolute;
  top:5px;
  left: 85%;
}
.right{
  position: absolute;
  top:5px;
  right: 5px;
  left: 95%;
}

.nav  ul ,.nav input[type="checkbox"]{
  display: none;
  position: absolute;
  z-index: 1000;
}
.nav input:checked ~ ul{
  display:  inline-flex;
}
.contact-list{
  margin-top: 20px;
  width: 300px;
}
.contact-list li{
  margin: 5px 10px;
  list-style: none;
  

}
.bar{
  width: 30px;
  height: 30px;
  display: inline;
  z-index: -10;
}
a{
  color: black;
  text-decoration: none;
}
.vohang{
  width: 30px;
  height: 20px;
  background-image: none;
  opacity:0.6;
}
