:root{
  --menuWidth: 150px;
  --headerHeight: 70px;
}

*{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 500;
}
.container{
  padding-right: var(--menuWidth);
  left:0;
  width: 100%;
}
.left{
  height: 100%;
  position: fixed;
  left:0;
  width: var(--menuWidth); 
}
.content{
  width: 100%;
  position: relative;
  display: flex;
}
.header{
  position: fixed;
  border-bottom: black ;
  display: flex;
  padding-top: 15px;
  width: 80%;
  justify-content: space-evenly;

}

.header_list{
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.flex1{
  flex: 3 ;
 }
 .flex2{
   flex: 1 ;
 }
.header_item{
  width: 5px;
  flex-wrap: wrap;
  border-color: rgb(255, 0, 43);
}

.header_item a,button a{
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
/* menu */
button{
  display: inline;
  margin: 0 auto;
}



.body{
  padding-top: var(--headerHeight);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.Search{
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.searchLeft{
  width: 70%;
  display: flex;
  flex-wrap: wrap;


}
.searchItem{
  width: 30%;
  min-width: 200px;
  height: 40px;
  margin: 0px 5px;
  display: flex;
  padding: 5px auto;
}
.ActionRight{
  width: 20%;
  min-width: 100px;
  flex-wrap: wrap;
  display: flex;

}
.ActionItem{
  width: 100px;
  display: flex;
  height: 40px;
  margin: 10px 5px;
}


